---
interface Props {
  href?: string;
}
const { href = '/' } = Astro.props;
---
<div class="flex-none" style="width: 58px; height: 40px;">
  <a href={href} aria-label="Zurück zur Startseite">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2897.2222 1993.0554">
      <path transform="matrix(2.7777777,0,0,-2.7777777,0,1993.0554)" d="M 132.343 104.071 L 911.489 104.071 L 911.489 595.342 L 132.343 595.342 Z M 1019.685 18.92 L 26.424012 18.92 L 26.424012 688.993 L 1019.685 688.993 Z " fill="currentColor"/>
      <g fill="currentColor">
        <path transform="matrix(2.7777777,0,0,-2.7777777,1976.4022,500.8816)" d="M 0 0 L 124.85 0 C 78.939 -123.813 33.188 -247.194 -12.547 -370.532 L -145.862 -370.532 C -191.604 -247.174 -237.354 -123.796 -283.268 .025 L -158.423 .025 C -132.203 -83.28 -105.925 -166.769 -79.647 -250.258 C -79.342 -250.232 -79.036 -250.206 -78.73 -250.18 C -52.498 -166.823 -26.266 -83.466 0 0 "/>
        <path transform="matrix(2.7777777,0,0,-2.7777777,0,1993.0554)" d="M 255.988 536.433 L 369.686 536.433 L 369.686 165.67298 L 255.988 165.67298 Z "/>
      </g>
    </svg>
  </a>
</div>
