---
import BaseLayout from '../../layouts/BaseLayout.astro';
import HeroImage from '../../components/molecules/HeroImage.astro';
import Button from '../../components/atoms/Button.astro';
---
<BaseLayout title="Innoviter | Digitale Innovation für Organisationen">

  <HeroImage baseName="home.241030" alt="Entfalte dein digitales Potenzial | Titelbild" />

  <h1><span class="heading">Entfalte dein digitales Potenzial</span></h1>

  <h2><span class="heading">Wir unterstützen deine Organisation, das volle Potenzial der Digitalisierung zu nutzen.</span></h2>
  <p>Innoviter liefert maßgeschneiderte Softwareplattformen: nachhaltige Softwareanwendungen, digitale Infrastrukturen und Systemarchitekturen.
    Wir unterstützen unsere Kunden und Kundinnen dabei, zukunftsfähige Geschäftsmodelle auf Basis von Software zu schaffen.
    Wir bieten ganzheitliche Dienstleistungen für Softwareprojekte und begleiten dabei durch alle Phasen: von der ersten Idee und Konzeption über die Entwicklung bis hin zu Betrieb und Support.
    <strong>Du kannst jederzeit in den Prozess einsteigen.</strong></p>

  <Button href="/de/kontakt/" title="Kontakt">Kontaktiere uns</Button>

  <h2><span class="heading">Software Engineering als Disziplin</span></h2>
  <p>Softwareentwicklung ist für uns eine echte Ingenieursdisziplin. Von Anfang an setzen wir auf klare, schlanke und iterative Prozesse.</p>
  <p>Gute Software ist einfach. Wir entwickeln die effizientesten Softwarelösungen mit minimalen Abhängigkeiten und Mechanismen. Einfache Lösungen sind dabei oft die herausforderndsten.</p>
  <p>Die Entwicklung eines erfahrenen Software Engineers ist ein langer und intensiver Weg. Technologie steht nie still – und wir auch nicht.</p>

  <h2><span class="heading">Nachhaltige IT für eine grüne Zukunft</span></h2>
  <p>Unser Fokus liegt auf nachhaltigen und ressourcenschonenden IT-Lösungen.
    Durch den Einsatz umweltfreundlicher Technologien und die Entwicklung energieeffizienter Software tragen wir aktiv zur Reduzierung des ökologischen Fußabdrucks bei.
    Mit transparentem Handeln und sozialer Verantwortung setzen wir auf eine verantwortungsvolle Digitalisierung und schaffen Vertrauen bei unseren Kund- und Partnerschaften.</p>

  <h3><span class="heading">Green Software Engineering</span></h3>
  <p>Green Software Engineering verbindet modernste Softwareentwicklung mit Nachhaltigkeit, indem es den gesamten Lebenszyklus einer Anwendung ressourcenschonend gestaltet.
    Von der Architektur über die Programmierung bis hin zum Betrieb und zur Wartung wird Software so entwickelt, dass sie effizient mit Energie und Hardware umgeht, ihre Lebensdauer maximiert und den ökologischen Fußabdruck minimiert.
    So unterstützen wir unsere Kunden und Kundinnen dabei, innovative, leistungsfähige und umweltfreundliche Lösungen zu schaffen, die nicht nur wirtschaftliche Vorteile bieten, sondern auch aktiv zum Klimaschutz beitragen.</p>

  <Button href="/de/services/green-software-engineering/" title="Green Software Engineering">Green Software Engineering</Button>

  <h2><span class="heading">Unsere Zusammen&shy;arbeit</span></h2>
  <p>Wir bieten zwei flexible und praktische Möglichkeiten, an Softwareprojekten mitzuwirken:</p>

  <h3><span class="heading">Eigenes Team / Entwicklung deines Produkts</span></h3>
  <p>Wir stellen ein Full-Stack-Team aus erfahrenen Projektmanagern, Entwicklern, Designern, Testern und Administratoren zur Verfügung, die von Anfang bis Ende ausschließlich an einem Produkt arbeiten.
    Die vollständige Kontrolle des Projekts über Umfang, Zeitplan und Budget bleibt dabei unberührt. Unser Team gibt regelmäßig Updates und Feedback.</p>

  <h3><span class="heading">Eigene Mitarbeiter / Verstärkung deines Teams</span></h3>
  <p>Wir ergänzen ein bestehendes Team mit qualifizierten und zuverlässigen Fachleuten, die sich nahtlos in die bestehenden Arbeitsabläufe und die Kultur der Organisation integrieren lassen.
    Durch den Zugang zu Beratung, Support und unserem Talentpool werden die Lücken im Team bei Expertise, Kapazität und Verfügbarkeit geschlossen.</p>

  <p><a href="/de/kontakt/">Bist du bereit, deine Projektidee in die Tat umzusetzen? Kontaktiere uns jetzt und lass' uns reden.</a></p>

</BaseLayout>
